@using Warehouse.Application.Pallets.Queries.GetPalletList;

@{ ViewData["Title"] = "Task 2"; }

<h3>Task 2</h3>
<p>3 паллеты, которые содержат коробки с наибольшим сроком годности, отсортированные по возрастанию объема:</p>


<table class="table">
    <thead>
        <tr>
            <th>Порядковый <br />номер</th>
            <th>Габариты, <br /> глубина x ширина x высота</th>        
            <th>Срок годности</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int palletCounter = 0;

            foreach (var pallet in Model as List<PalletLookupDto>)
            {
                palletCounter++;

                <tr>
                    <td>
                        @Html.Raw(palletCounter.ToString() + ".")
                    </td>
                    <td>
                        @Html.Raw(pallet.depth + " x " + pallet.width + " x " + pallet.height)
                        <br />
                        @Html.Raw("V = " + (pallet.volume).ToString())
                    </td>                  
                    <td>
                        @{
                            if (pallet.expiration_date == DateTime.MinValue)
                                @Html.Raw("Нет")
                            else
                                @Html.Raw(pallet.expiration_date.ToShortDateString())
                        }
                    </td>                   
                </tr>            
            }
        }
    </tbody>
</table>
